apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  namespace: argo-app 
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      name: backend-pod
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: shivam011/agro-backend
        ports:
        - containerPort: 5000
        env:
        - name: MONGO_URI
          value: "mongodb://mongo-service:27017/argo-db"
