apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deployment
  namespace: argo-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      name: frontend-pod
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: shivam011/argo-frontend
        ports:
        - containerPort: 80

